<div class="row">
	<div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5">
		<input type="text" ng-model="f.name" class="form-control" placeholder="Filtrar resultados"></input>
	</div>
</div>
<br>
<div class="container-fluid" ng-init="buscarTodosLosJuegos();">
	<div class="row">
		<div class="col-xs-12">
			<div ng-repeat="juego in todosLosJuegos | filter:f | orderBy:'name'" class="col-xs-12 col-sm-4 col-md-3">
				<div class="panel panel-default clickeable">
					<div class="panel-heading"><a ng-href="#/explorar/juegos/{{juego.id}}">{{juego.name}}</a></div>
					<div class="panel-body">
							<img class="img-responsive" ng-src="{{juego.logo}}"></img>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div> 

